<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.niuyi.pulltorefreshdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".jd.JDActivity"
            android:label="京东">
        </activity>
        <activity
            android:name=".nba.NBAActivity"
            android:label="NBA">
        </activity>
        <activity
            android:name=".tudou.ToDouActivity"
            android:label="it之家">
        </activity>
        <activity
            android:name=".acfun.AcFunActivity"
            android:label="AcFun">
        </activity>
        <activity android:name=".meituan.MeiTuanActivity">
        </activity>
    </application>

</manifest>